<a title="GitHub" href="http://github.com/jpoon" class="about-icon about-icon-github"><i class="fa fa-fw fa-lg fa-github-square"></i></a>
<a title="LinkedIn" href="http://linkedin.com/in/poonjas" class="about-icon about-icon-linkedin"><i class="fa fa-fw fa-lg fa-linkedin-square"></i></a>
<a title="Twitter" href="https://twitter.com/jasonthepoon" class="about-icon about-icon-twitter"><i class="fa fa-fw fa-lg fa-twitter-square"></i></a>
<a title="About Me" href="/aboutme" class="about-icon icon-about"><i class="fa fa-fw fa-lg fa-info-circle"></i></a>