.page-links {
    padding-top: 5px;
}

.overlay > .about-icon {
    color: #ffffff;
}

.about-icon {
    color: #9EABB3;
    text-decoration: none;
}

.about-icon-github:hover {
    color: #913399;
}

.about-icon-linkedin:hover {
    color: #0077B5;
}

.about-icon-twitter:hover {
    color: #55acee;
}

.icon-about:hover {
    color: #ffa000;
}